header {
  z-index: 2;
  position: relative;
  font-family: $sans-regular;
  div {
    display: inline-block;
    margin: 25px 5% 10px 0;
    font-size: 18px;
    * {
      vertical-align: middle;
    }
    .percent {
      font-family: $sans-bold;
      font-size: 24px;
    }
  }
}
@media screen and (max-width: 800px) {
  header {
    div {
      display: block;
      text-align: center;
    }
  }
}